:root {
    --wp-admin-theme-color: #4F47EB;
}

#wlrp-main-page {
    font-family: Helvetica, sans-serif, Arial, sans-serif;
    margin-right: 15px;
    background-color: rgba(248, 248, 252, 1);
    padding: 0 2rem 2rem 2rem;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    outline: none;
    min-height: 80vh;
}

.wlrp-cursor {
    cursor: pointer;
}

#wlrp-main-page a:focus {
    outline: 0;
    box-shadow: none;
}

#wlrp-main-page .wlrp-main-header {
    display: flex;
    width: 100%;
    align-items: baseline;
    margin: 0.5rem 0;
}

#wlrp-main-page .wlrp-main-header h1 {
    color: rgba(22, 31, 49, 1);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    min-width: max-content;
}

#wlrp-main-page .wlrp-main-header div {
    position: relative;
    z-index: 10;
    width: 100%;
    color: rgba(122, 129, 143, 1);
    margin: 0 0.5rem;
}

.wlrp-admin-main {
    display: flex;
    height: 2.5rem;
    gap: 1.5rem;
}

.wlrp-admin-nav {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    align-items: center;
    gap: 2px;
    height: 74%;
}

.wlrp-admin-nav a {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgba(243, 243, 247, 1);
    padding: 0 1.25rem;
    color: rgba(83, 88, 99, 1);
    box-shadow: none;
    text-decoration: none;
    border: 1px solid rgba(243, 243, 247, 1);
    font-size: 1rem;
    gap: 5px;
}

.wlrp-admin-nav .active-nav {
    background-color: rgba(255, 255, 255, 1);
    color: #4F47EB;
    border: 1px solid #E7E7EF;
    border-bottom-color: rgba(255, 255, 255, 1);
}

.wlrp-parent {
    background: #FFFFFF;
    width: 100%;
    border-radius: 0 12px 12px 12px;
    border: 1px solid #dadae7;
}

.wlrp-parent .wlrp-body-content .wlrp-body-active-content {
    padding: 1.25rem 2rem;
}

.wlrp-parent .wlrp-body-content .wlrp-body-active-content:not(.active-content) {
    display: none;
}

.wlrp-parent .wlrp-body-content .active-content {
    min-height: 50vh;
}

#wlrp-main-page .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

#wlrp-main-page .button-container .wlrp-button {
    background-color: #4F47EB;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #4F47EB;
    transition: .5s;
}

#wlrp-main-page .button-container a {
    background-color: #fff !important;
    text-decoration: none;
    color: #4F47EB !important;
}

.wlrp-form-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.wlrp-form-content select {
    padding: 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
}
